#
# Shakira module configuration
#

config SHAKIRA_UNDERVOLT
	tristate "Shakira undervolt"
	help
	  Say Y here if you want to build an undervolt module for X8

	  If unsure, say N.

	  To compile this module, choose M here: the
	  module will be called x8uv.

