#
# X10miniUV module configuration
#

config X10_MINI_UNDERVOLT
	tristate "X10mini undervolt"
	help
	  Say Y here if you want to build an undervolt module for X10mini

	  If unsure, say N.

	  To compile this module, choose M here: the
	  module will be called x10miniuv.

